body{background-color: #f0f0f0;
}

 h1{
  color: #7d5a5a
 }

 h3{
   color: #888888
 }

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img{
  height: 250px;
}

.right-aligned {
  text-align: right; /* Aligns the content of the div to the right */
  margin-top: 10px; /* Optional: Adds some space above the image */
}
